@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Lato%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-5takxL0rLY6pn: rgba(11, 166, 245, 0.77);
  --plasmic-token-brand: var(--token-5takxL0rLY6pn);
}

.plasmic_default_styles {
  --mixin-h723o26c30igh_font-family: "IBM Plex Sans", sans-serif;
  --mixin-h723o26c30igh_font-size: 14px;
  --mixin-h723o26c30igh_font-weight: normal;
  --mixin-h723o26c30igh_font-style: normal;
  --mixin-h723o26c30igh_color: rgb(222, 245, 239);
  --mixin-h723o26c30igh_text-align: left;
  --mixin-h723o26c30igh_text-transform: none;
  --mixin-h723o26c30igh_line-height: 1.5;
  --mixin-h723o26c30igh_letter-spacing: normal;
  --mixin-h723o26c30igh_white-space: pre-wrap;
  --mixin-h723o26c30igh_user-select: text;
  --mixin-75lb9iq8RVpzR_font-family: "Inter", sans-serif;
  --mixin-75lb9iq8RVpzR_color: #000000;
  --mixin-75lb9iq8RVpzR_font-size: 72px;
  --mixin-75lb9iq8RVpzR_font-weight: 900;
  --mixin-75lb9iq8RVpzR_letter-spacing: -4px;
  --mixin-75lb9iq8RVpzR_line-height: 1;
  --mixin-75lb9iq8RVpzR_white-space: pre-wrap;
  --mixin-HiC2Hn6gEkuD2_font-family: "Inter", sans-serif;
  --mixin-HiC2Hn6gEkuD2_color: #000000;
  --mixin-HiC2Hn6gEkuD2_font-size: 48px;
  --mixin-HiC2Hn6gEkuD2_font-weight: 700;
  --mixin-HiC2Hn6gEkuD2_letter-spacing: -1px;
  --mixin-HiC2Hn6gEkuD2_line-height: 1.1;
  --mixin-HiC2Hn6gEkuD2_white-space: pre-wrap;
  --mixin-q3oZPGATJLgzb_font-family: "Inter", sans-serif;
  --mixin-q3oZPGATJLgzb_color: #000000;
  --mixin-q3oZPGATJLgzb_font-size: 32px;
  --mixin-q3oZPGATJLgzb_font-weight: 600;
  --mixin-q3oZPGATJLgzb_letter-spacing: -0.8px;
  --mixin-q3oZPGATJLgzb_line-height: 1.2;
  --mixin-q3oZPGATJLgzb_white-space: pre-wrap;
  --mixin-AQL0DvAIgIm3Q_font-family: "Inter", sans-serif;
  --mixin-AQL0DvAIgIm3Q_color: #000000;
  --mixin-AQL0DvAIgIm3Q_font-size: 24px;
  --mixin-AQL0DvAIgIm3Q_font-weight: 600;
  --mixin-AQL0DvAIgIm3Q_letter-spacing: -0.5px;
  --mixin-AQL0DvAIgIm3Q_line-height: 1.3;
  --mixin-AQL0DvAIgIm3Q_white-space: pre-wrap;
  --mixin-t-umuHrhgPaF8_font-family: "Inter", sans-serif;
  --mixin-t-umuHrhgPaF8_color: #000000;
  --mixin-t-umuHrhgPaF8_font-size: 20px;
  --mixin-t-umuHrhgPaF8_font-weight: 600;
  --mixin-t-umuHrhgPaF8_letter-spacing: -0.3px;
  --mixin-t-umuHrhgPaF8_line-height: 1.5;
  --mixin-t-umuHrhgPaF8_white-space: pre-wrap;
  --mixin-RTAGNaL0wCS8g_font-family: "Inter", sans-serif;
  --mixin-RTAGNaL0wCS8g_color: #000000;
  --mixin-RTAGNaL0wCS8g_font-size: 16px;
  --mixin-RTAGNaL0wCS8g_font-weight: 600;
  --mixin-RTAGNaL0wCS8g_line-height: 1.5;
  --mixin-RTAGNaL0wCS8g_white-space: pre-wrap;
  --mixin-XPFXvWVCv81A6_border-left-color: #dddddd;
  --mixin-XPFXvWVCv81A6_border-left-style: solid;
  --mixin-XPFXvWVCv81A6_border-left-width: 3px;
  --mixin-XPFXvWVCv81A6_color: #888888;
  --mixin-XPFXvWVCv81A6_padding-left: 10px;
  --mixin-XPFXvWVCv81A6_white-space: pre-wrap;
  --mixin-iOTs8t1FYL3Dp_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-iOTs8t1FYL3Dp_border-bottom-color: #dddddd;
  --mixin-iOTs8t1FYL3Dp_border-bottom-style: solid;
  --mixin-iOTs8t1FYL3Dp_border-bottom-width: 1px;
  --mixin-iOTs8t1FYL3Dp_border-left-color: #dddddd;
  --mixin-iOTs8t1FYL3Dp_border-left-style: solid;
  --mixin-iOTs8t1FYL3Dp_border-left-width: 1px;
  --mixin-iOTs8t1FYL3Dp_border-right-color: #dddddd;
  --mixin-iOTs8t1FYL3Dp_border-right-style: solid;
  --mixin-iOTs8t1FYL3Dp_border-right-width: 1px;
  --mixin-iOTs8t1FYL3Dp_border-top-color: #dddddd;
  --mixin-iOTs8t1FYL3Dp_border-top-style: solid;
  --mixin-iOTs8t1FYL3Dp_border-top-width: 1px;
  --mixin-iOTs8t1FYL3Dp_border-bottom-left-radius: 3px;
  --mixin-iOTs8t1FYL3Dp_border-bottom-right-radius: 3px;
  --mixin-iOTs8t1FYL3Dp_border-top-left-radius: 3px;
  --mixin-iOTs8t1FYL3Dp_border-top-right-radius: 3px;
  --mixin-iOTs8t1FYL3Dp_font-family: "Inconsolata";
  --mixin-iOTs8t1FYL3Dp_padding-bottom: 1px;
  --mixin-iOTs8t1FYL3Dp_padding-left: 4px;
  --mixin-iOTs8t1FYL3Dp_padding-right: 4px;
  --mixin-iOTs8t1FYL3Dp_padding-top: 1px;
  --mixin-iOTs8t1FYL3Dp_white-space: pre-wrap;
  --mixin-mWlyzWFKXzXQF_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-mWlyzWFKXzXQF_border-bottom-color: #dddddd;
  --mixin-mWlyzWFKXzXQF_border-bottom-style: solid;
  --mixin-mWlyzWFKXzXQF_border-bottom-width: 1px;
  --mixin-mWlyzWFKXzXQF_border-left-color: #dddddd;
  --mixin-mWlyzWFKXzXQF_border-left-style: solid;
  --mixin-mWlyzWFKXzXQF_border-left-width: 1px;
  --mixin-mWlyzWFKXzXQF_border-right-color: #dddddd;
  --mixin-mWlyzWFKXzXQF_border-right-style: solid;
  --mixin-mWlyzWFKXzXQF_border-right-width: 1px;
  --mixin-mWlyzWFKXzXQF_border-top-color: #dddddd;
  --mixin-mWlyzWFKXzXQF_border-top-style: solid;
  --mixin-mWlyzWFKXzXQF_border-top-width: 1px;
  --mixin-mWlyzWFKXzXQF_border-bottom-left-radius: 3px;
  --mixin-mWlyzWFKXzXQF_border-bottom-right-radius: 3px;
  --mixin-mWlyzWFKXzXQF_border-top-left-radius: 3px;
  --mixin-mWlyzWFKXzXQF_border-top-right-radius: 3px;
  --mixin-mWlyzWFKXzXQF_font-family: "Inconsolata";
  --mixin-mWlyzWFKXzXQF_padding-bottom: 3px;
  --mixin-mWlyzWFKXzXQF_padding-left: 6px;
  --mixin-mWlyzWFKXzXQF_padding-right: 6px;
  --mixin-mWlyzWFKXzXQF_padding-top: 3px;
  --mixin-mWlyzWFKXzXQF_white-space: pre-wrap;
  --mixin-aWae_bEQXHBDe_display: flex;
  --mixin-aWae_bEQXHBDe_flex-direction: column;
  --mixin-aWae_bEQXHBDe_align-items: stretch;
  --mixin-aWae_bEQXHBDe_justify-content: flex-start;
  --mixin-aWae_bEQXHBDe_list-style-position: outside;
  --mixin-aWae_bEQXHBDe_padding-left: 40px;
  --mixin-aWae_bEQXHBDe_position: relative;
  --mixin-aWae_bEQXHBDe_list-style-type: decimal;
  --mixin-aWae_bEQXHBDe_white-space: pre-wrap;
  --mixin-uK4H1Cb5LC1Jn_display: flex;
  --mixin-uK4H1Cb5LC1Jn_flex-direction: column;
  --mixin-uK4H1Cb5LC1Jn_align-items: stretch;
  --mixin-uK4H1Cb5LC1Jn_justify-content: flex-start;
  --mixin-uK4H1Cb5LC1Jn_list-style-position: outside;
  --mixin-uK4H1Cb5LC1Jn_padding-left: 40px;
  --mixin-uK4H1Cb5LC1Jn_position: relative;
  --mixin-uK4H1Cb5LC1Jn_list-style-type: disc;
  --mixin-uK4H1Cb5LC1Jn_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-h723o26c30igh_font-family);
  font-size: var(--mixin-h723o26c30igh_font-size);
  font-weight: var(--mixin-h723o26c30igh_font-weight);
  font-style: var(--mixin-h723o26c30igh_font-style);
  color: var(--mixin-h723o26c30igh_color);
  text-align: var(--mixin-h723o26c30igh_text-align);
  text-transform: var(--mixin-h723o26c30igh_text-transform);
  line-height: var(--mixin-h723o26c30igh_line-height);
  letter-spacing: var(--mixin-h723o26c30igh_letter-spacing);
  white-space: var(--mixin-h723o26c30igh_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset :global(.__wab_expr_html_text) h1),
:where(.root_reset.plasmic_default__h1) {
  font-family: var(--mixin-75lb9iq8RVpzR_font-family);
  color: var(--mixin-75lb9iq8RVpzR_color);
  font-size: var(--mixin-75lb9iq8RVpzR_font-size);
  font-weight: var(--mixin-75lb9iq8RVpzR_font-weight);
  letter-spacing: var(--mixin-75lb9iq8RVpzR_letter-spacing);
  line-height: var(--mixin-75lb9iq8RVpzR_line-height);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset :global(.__wab_expr_html_text) h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-HiC2Hn6gEkuD2_font-family);
  color: var(--mixin-HiC2Hn6gEkuD2_color);
  font-size: var(--mixin-HiC2Hn6gEkuD2_font-size);
  font-weight: var(--mixin-HiC2Hn6gEkuD2_font-weight);
  letter-spacing: var(--mixin-HiC2Hn6gEkuD2_letter-spacing);
  line-height: var(--mixin-HiC2Hn6gEkuD2_line-height);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset :global(.__wab_expr_html_text) h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-q3oZPGATJLgzb_font-family);
  color: var(--mixin-q3oZPGATJLgzb_color);
  font-size: var(--mixin-q3oZPGATJLgzb_font-size);
  font-weight: var(--mixin-q3oZPGATJLgzb_font-weight);
  letter-spacing: var(--mixin-q3oZPGATJLgzb_letter-spacing);
  line-height: var(--mixin-q3oZPGATJLgzb_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset :global(.__wab_expr_html_text) h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-AQL0DvAIgIm3Q_font-family);
  color: var(--mixin-AQL0DvAIgIm3Q_color);
  font-size: var(--mixin-AQL0DvAIgIm3Q_font-size);
  font-weight: var(--mixin-AQL0DvAIgIm3Q_font-weight);
  letter-spacing: var(--mixin-AQL0DvAIgIm3Q_letter-spacing);
  line-height: var(--mixin-AQL0DvAIgIm3Q_line-height);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset :global(.__wab_expr_html_text) h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-t-umuHrhgPaF8_font-family);
  color: var(--mixin-t-umuHrhgPaF8_color);
  font-size: var(--mixin-t-umuHrhgPaF8_font-size);
  font-weight: var(--mixin-t-umuHrhgPaF8_font-weight);
  letter-spacing: var(--mixin-t-umuHrhgPaF8_letter-spacing);
  line-height: var(--mixin-t-umuHrhgPaF8_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset :global(.__wab_expr_html_text) h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-RTAGNaL0wCS8g_font-family);
  color: var(--mixin-RTAGNaL0wCS8g_color);
  font-size: var(--mixin-RTAGNaL0wCS8g_font-size);
  font-weight: var(--mixin-RTAGNaL0wCS8g_font-weight);
  line-height: var(--mixin-RTAGNaL0wCS8g_line-height);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset :global(.__wab_expr_html_text) blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-XPFXvWVCv81A6_color);
  padding-left: var(--mixin-XPFXvWVCv81A6_padding-left);
  border-left: var(--mixin-XPFXvWVCv81A6_border-left-width)
    var(--mixin-XPFXvWVCv81A6_border-left-style)
    var(--mixin-XPFXvWVCv81A6_border-left-color);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset :global(.__wab_expr_html_text) code),
:where(.root_reset.plasmic_default__code) {
  background: #f8f8f8;
  font-family: var(--mixin-iOTs8t1FYL3Dp_font-family);
  border-radius: var(--mixin-iOTs8t1FYL3Dp_border-top-left-radius)
    var(--mixin-iOTs8t1FYL3Dp_border-top-right-radius)
    var(--mixin-iOTs8t1FYL3Dp_border-bottom-right-radius)
    var(--mixin-iOTs8t1FYL3Dp_border-bottom-left-radius);
  padding: var(--mixin-iOTs8t1FYL3Dp_padding-top)
    var(--mixin-iOTs8t1FYL3Dp_padding-right)
    var(--mixin-iOTs8t1FYL3Dp_padding-bottom)
    var(--mixin-iOTs8t1FYL3Dp_padding-left);
  border-top: var(--mixin-iOTs8t1FYL3Dp_border-top-width)
    var(--mixin-iOTs8t1FYL3Dp_border-top-style)
    var(--mixin-iOTs8t1FYL3Dp_border-top-color);
  border-right: var(--mixin-iOTs8t1FYL3Dp_border-right-width)
    var(--mixin-iOTs8t1FYL3Dp_border-right-style)
    var(--mixin-iOTs8t1FYL3Dp_border-right-color);
  border-bottom: var(--mixin-iOTs8t1FYL3Dp_border-bottom-width)
    var(--mixin-iOTs8t1FYL3Dp_border-bottom-style)
    var(--mixin-iOTs8t1FYL3Dp_border-bottom-color);
  border-left: var(--mixin-iOTs8t1FYL3Dp_border-left-width)
    var(--mixin-iOTs8t1FYL3Dp_border-left-style)
    var(--mixin-iOTs8t1FYL3Dp_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset :global(.__wab_expr_html_text) pre),
:where(.root_reset.plasmic_default__pre) {
  background: #f8f8f8;
  font-family: var(--mixin-mWlyzWFKXzXQF_font-family);
  border-radius: var(--mixin-mWlyzWFKXzXQF_border-top-left-radius)
    var(--mixin-mWlyzWFKXzXQF_border-top-right-radius)
    var(--mixin-mWlyzWFKXzXQF_border-bottom-right-radius)
    var(--mixin-mWlyzWFKXzXQF_border-bottom-left-radius);
  padding: var(--mixin-mWlyzWFKXzXQF_padding-top)
    var(--mixin-mWlyzWFKXzXQF_padding-right)
    var(--mixin-mWlyzWFKXzXQF_padding-bottom)
    var(--mixin-mWlyzWFKXzXQF_padding-left);
  border-top: var(--mixin-mWlyzWFKXzXQF_border-top-width)
    var(--mixin-mWlyzWFKXzXQF_border-top-style)
    var(--mixin-mWlyzWFKXzXQF_border-top-color);
  border-right: var(--mixin-mWlyzWFKXzXQF_border-right-width)
    var(--mixin-mWlyzWFKXzXQF_border-right-style)
    var(--mixin-mWlyzWFKXzXQF_border-right-color);
  border-bottom: var(--mixin-mWlyzWFKXzXQF_border-bottom-width)
    var(--mixin-mWlyzWFKXzXQF_border-bottom-style)
    var(--mixin-mWlyzWFKXzXQF_border-bottom-color);
  border-left: var(--mixin-mWlyzWFKXzXQF_border-left-width)
    var(--mixin-mWlyzWFKXzXQF_border-left-style)
    var(--mixin-mWlyzWFKXzXQF_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset :global(.__wab_expr_html_text) ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-aWae_bEQXHBDe_display);
  flex-direction: var(--mixin-aWae_bEQXHBDe_flex-direction);
  align-items: var(--mixin-aWae_bEQXHBDe_align-items);
  justify-content: var(--mixin-aWae_bEQXHBDe_justify-content);
  list-style-position: var(--mixin-aWae_bEQXHBDe_list-style-position);
  padding-left: var(--mixin-aWae_bEQXHBDe_padding-left);
  position: var(--mixin-aWae_bEQXHBDe_position);
  list-style-type: var(--mixin-aWae_bEQXHBDe_list-style-type);
  flex-column-gap: var(--mixin-aWae_bEQXHBDe_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset :global(.__wab_expr_html_text) ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-uK4H1Cb5LC1Jn_display);
  flex-direction: var(--mixin-uK4H1Cb5LC1Jn_flex-direction);
  align-items: var(--mixin-uK4H1Cb5LC1Jn_align-items);
  justify-content: var(--mixin-uK4H1Cb5LC1Jn_justify-content);
  list-style-position: var(--mixin-uK4H1Cb5LC1Jn_list-style-position);
  padding-left: var(--mixin-uK4H1Cb5LC1Jn_padding-left);
  position: var(--mixin-uK4H1Cb5LC1Jn_position);
  list-style-type: var(--mixin-uK4H1Cb5LC1Jn_list-style-type);
  flex-column-gap: var(--mixin-uK4H1Cb5LC1Jn_flex-column-gap);
}
