@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-[#151515];
    @apply bg-[#E6E6E6];
    font-family: "League Spartan", sans-serif;
    -webkit-tap-highlight-color: transparent;
    -moz-selection: red;
  }
}

